td, .margin-td{
    padding : 10px;
}
table, th, tr, td{
    border: 1px black solid ;
    border-collapse: collapse;    
}
.red {
    color : red;
}
.center-content{
    display: flex;
    justify-content: center;
}
h2 {
    text-align: center;
    margin-top: 40px;
}